@import "mixins";

body {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  font-weight: normal;
}
*{
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.fl_l { float: left }
.fl_r { float: right }



.graffit {
  margin: 0 auto;

  background-color: #FFF;
  border: 1px solid #d7d7d7;

  &.full {
    border: 0;
    .canvas_wrap {
      padding-bottom: 16px;
      .canvas_aligner {
        margin-bottom: 0;
      }
    }
  }
  header {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #597DA3;
    color: #fff;
    font-size: 1em;
    font-weight: normal;

    .title {
      padding: 17px 20px 18px;
      margin: 0;
      border: none;
      color: #FFFFFF;
      background: #597BA5;
      font-weight: bold;
      font-size: 1.09em;
    }
  }

  canvas {
    position: absolute;
  }

  .topbar {
    height: 17px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    overflow: hidden;
    padding: 15px 20px 0px 20px;
    border-bottom: 1px solid #DEDFE1;

    span {
      color: #777;
    }
  }

  .canvas_wrap {
    z-index: 1011;
    padding: 16px;
    padding-bottom: 0;
    border-bottom: 1px solid #DEDFE1;
    background-color: #f7f7f7;

    .canvas_aligner {
      z-index: 1010;
      margin: 0 auto;
      margin-bottom: 5px;
      overflow: hidden;
      background: #ffffff;
      border: 1px solid #ccc;

     //@include transition('width, height', '.5s,.5s');
    }

    .main,.fake{
      margin: 0 auto;
    }

    .main {
      z-index: 999;
    }
    .fake {
      z-index: 1001;
    }
    .hist{
      z-index: 1000;
      display: none;
      background: #ffffff;
    }

  }

  .resizer {
    margin: 0;
    padding: 0;
    height: 15px;
    background: url('http://st0.userapi.com/images/pics/graffiti_resizer.gif') no-repeat center 1px;
    cursor: s-resize;
  }

  .toolbar {
    margin: 0 auto;

    .palette_wrap{
      z-index: 1001;
      display: none;
      position: relative;
      bottom: 180px;
      left: 68px;
      width: 14*18px;
      height: 14*12px;
      padding: 8px;

      background-color: #E5E5E5;
      overflow: hidden;
    }
    .palette {
      z-index: 1002;
    }
  }

}

