/* line 1, ../sass/main.scss */
.graffit {
  position: absolute;
  width: 512px;
  height: 384px;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -192px;
}

/* line 12, ../sass/main.scss */
canvas {
  position: absolute;
}

/* line 16, ../sass/main.scss */
.wrap {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
}
/* line 21, ../sass/main.scss */
.wrap .main {
  z-index: 999;
}
/* line 24, ../sass/main.scss */
.wrap .fake {
  z-index: 1000;
}

/* line 30, ../sass/main.scss */
.toolbar {
  padding: 10px;
  border: 1px solid #DEDFE1;
  border-top: 0;
}
/* line 37, ../sass/main.scss */
.toolbar .palette {
  bottom: 64px;
  z-index: 1001;
  display: none;
  background-color: #666;
}
